
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --primary-color: #007bff;
  --secondary-color: #585858;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #c3c3c3;
  --dark-mode:#09090c;

  --bg: #dcdcdc;     
  --color-icon: #535c68;  
  --social-icon1: #0078d7;
  --social-icon2: #646c54;
  --social-icon3: #0e141e;
  --social-icon4: #000000;
  --social-icon5: #0077B5;  
  
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-mode);
}
* {
  margin: 0;
  padding: 0;  
  font-family: 'Roboto Mono', monospace;
  /* border: 1px solid red; */
}
#scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.underline-word {
  cursor: pointer;
  text-decoration: underline;
}
.section-header {
  text-align: center;
  justify-content: center;
  display: flex;
  color: white;
}
.navbar {
  padding-top: 1%;
  background-color: var(--dark-mode);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.3s ease;
  

}

.navbar.hidden {
  transform: translateY(-100%);
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 1%;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 20px;
  
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  transition: all 0.3s ease;
}

.nav-item a:hover {
  color: #fff;
  transition: all 0.1s ease;
}

.btn-box {
  background-color: var(--dark-mode);
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
}
.btn-box:hover {
  background-color: #fff;
  transition: all 0.8s ease;
}
.btn-box a {
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  transition: all 0.3s ease;
}



.btn-box:hover a {
  color: #333;
}

.animate-bottom {
  position: relative;
  bottom: -50px;
  opacity: 0;

}

/* checkout my project button */
.animate-button {
  position: relative;
  bottom: -50px;
  opacity: 0;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 8px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .1s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
  height: 48px;
}
.animate-button:hover{
  color: #fff;
  transition: all 0.4s ease;
  background-color: #616467;
}
.animate-button{
  animation-name: animatebottom;
  animation-delay: 0.7s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.animate-bottom {
  animation-name: animatebottom;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  
}


@keyframes animatebottom {
  from {
    bottom: -50px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 100vh;

}
.intro p {
  margin: 3rem;
  text-align: center;
  color: #c3c3c3;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro .highlight-word {
  color: #ADD8E6;
  font-weight: bold;
}
.intro-button {
  display: flex;
  justify-content: center;
  align-items: center;

}
.about-me {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-mode);
}

.about-me-content {

  max-width: 80vh;
  max-height: 70%;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fade-in 3s ease-out forwards;
}
.about-me-content p {
  text-align: left;
}
.about-me img{

  box-shadow: rgba(0, 191, 255, 0.4) 5px 5px, rgba(0, 191, 255, 0.3) 10px 10px, rgba(0, 191, 255, 0.2) 15px 15px, rgba(0, 191, 255, 0.1) 20px 20px, rgba(0, 191, 255, 0.05) 25px 25px;
  border-radius: 10px;

}

.img-border {
  padding: 1rem;
  border-radius: 10px;
  max-width: fit-content;
  
}

body {
  background-color: var(--dark-mode);

}

container {
  display: grid;
  grid-template-columns: repeat(3, 29%);
  grid-template-rows: repeat(3, 30%);
  justify-content: center;
  align-items: center;
  grid-gap: 8vh;
  margin: 10vh;
  margin-bottom: 15vh;
  min-height: 100vh;
  max-height: 100%;
  max-width: 100%;
}

.card {
  min-width: 38vh;
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: #121214;
  border-radius: 1rem;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  transition: transform 0.3s ease-out;
  position: relative;

  display: flex; 
  justify-content: center; 
  align-items: center; 
  
}
.card a {
  text-decoration: none;
}
.card-description {
  align-items: center;
  text-align: center;
  display: flex;
}
.card img {
  width: 45%;
  height: 45%;
  margin: 1rem;
  border-radius: 5%;
}
.card p {
  color: white;
  margin: 1rem;
}

.card:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -20px;
  left: 15%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.card:hover {
  transform: scale(1.03);
}

.card h1 {
  text-align: center;
  color: white;
  padding: 10px; 
  font-size: 24px; 
}

section {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: var(--bg);
  z-index: -10;
}

.footer-social {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.icon-item {
  list-style: none
}

.icon-link {  
  display: inline-flex;
  font-size: 3rem;  
  text-decoration: none;  
  color: var(--color-icon);
  width: 6rem;
  height: 6rem;   
  transition: .5s linear;
  position: relative;
  z-index: 1;
  margin: auto
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;    
}

.icon-link::before {  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}
  
.icon-link:hover::before {  
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before { 
  background: var(--social-icon1); 
}

.icon-item:nth-child(2) a:hover:before { 
  background: var(--social-icon2); 
}

.icon-item:nth-child(3) a:hover:before { 
  background: var(--social-icon3); 
}

.icon-item:nth-child(4) a:hover:before { 
  background: var(--social-icon4); 
}

.icon-item:nth-child(5) a:hover:before { 
  background: var(--social-icon5); 
}

.email-zone{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.email-zone p {
  color: white;
  max-width: 35%;
  padding: 3%;
  text-align: center;

}
.email-zone h1{
  padding: 2rem;
  color: white;
}
.email-button {
  position: relative;
  bottom: -50px;
  opacity: 0;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 8px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .1s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: white;
  box-shadow: inset 0 0 0 1px #616467;
  background-color: transparent;
  height: 48px;
}
.email-button:hover{
  color: black;
  transition: all 0.4s ease;
  background-color: white;
}
.email-button{
  animation-name: animatebottom;
  animation-delay: 0.7s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  container {
    grid-template-columns: repeat(1, 50%); 
    grid-template-rows: auto; 
    grid-gap: 50px; 
  
  }
  .about-me {
    display: grid;
    grid-template-columns: repeat(1, 85%); 
    grid-template-rows: auto; 
    grid-gap: 50px; 
  }
  .about-me-content {
    font-size: 15px;
  }
  .img-border {
    display: block;
    margin: 0 auto;
  }
}

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(50%);
  transition: all 1.5s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.show {
  filter: blur(0);
  opacity: 1;
  transform: translateY(0);
}

.signature h3{
  color: var(--color-icon);
  text-align: center;
  margin: 3%;
}

/* phone */
@media screen and (max-width: 500px) {

  .navbar{
    max-width: 100%;
  }
  
  .btn-box{
    padding: 5px
  }
  .nav-item{
    margin: 0 5px;
    text-align: left;
    display: flex;
    
  }
  .img-border img{
    width: 100%;
    
  }
 
  .nav-item a{
  
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
  .animate-bottom {
    text-align: center;
  }
  
  .about-me-content {
    padding: 0;
    max-height: none;
  }
  .about-me p {
    font-size: 14px;
    
  }

  
  .card {
    margin-top: 1rem;
    min-width: 10px; 
    min-height: 230px; 

  }
  .card p {
    margin: 0;
  }
  .card img{
    margin: 0.5rem;
  }

  .card-description p {
    font-size: 10px;

  }
  .email-zone p {
    max-width: 100%;
  }
  .icon-link{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5%;
   
  }
  section ul li {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  container {
    display: block;
    max-width: 100%;
    margin: 2rem;
    padding: 0;
  }
}
#scroll-to-top-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in-out; 
  transform: translateZ(0); 
  z-index: 9999; 
}

#scroll-to-top-btn:active {
  transform: translateY(2px) translateZ(0); 
  box-shadow: none; 
}


#scroll-to-top-btn:hover {
  background-color: var(--bg);
}
#scroll-to-top-btn:hover i {
  color: black;
}
#scroll-to-top-btn i {
  color: white;
  font-size: 20px;
  line-height: 50px;
  margin-left: 2px;
}

